# Uncomment what you need
# Run `pip install -r requirements.txt` to install all dependencies

### Data Science ###
# numpy
# pandas
# matplotlib
# scikit-learn
# scipy

### Machine Learning ###
# tensorflow
# keras
# pytorch

### Backend ###
# flask
# gunicorn

### Other ###
keyboard==0.13.5
pygame==2.6.0


